<div class="content">
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bs-collapse-1" aria-controls="bs-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
            <a [routerLink]="['/pages']" class="navbar-brand">
                <span class="my_logo">
                    <img src="./../../assets/icon/lion.png">
                </span>
                <span class="brnd_text">
                    Lionel-blog
                </span>
            </a>
            <div id="bs-collapse-1" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" [routerLinkActive]="['active']">
                                <a class="nav-link" [routerLink]="['/pages/list']">Topic</a>
                            </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/pages/source']">Source</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/pages/about']">AboutAuthor</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/pages/more']">More</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="logout">
                        <a href="javascript: void(0);" class="userAvatar">
                            <img *ngIf="currentUser.photoURL" [src]="currentUser.photoURL" class="rounded mx-auto d-block float-right" alt="">
                            <img *ngIf="!currentUser.photoURL" class="rounded mx-auto d-block float-right" src="./../../../../assets/icon/user.png" alt="">
                        </a>
                        <div class="setting">
                            <button type="button" class="btn btn-outline-danger" (click)="click()">
                                <i class="fa fa-th" aria-hidden="true"></i>
                            </button>
                            <div class="card card-outline-info mb-3 text-left setting_menu" [hidden]="!showmenu">
                                <div class="card-block">
                                  <blockquote class="card-blockquote">
                                    <button href="#" class="btn btn-outline-secondary" type="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button href="#" class="btn btn-outline-secondary" type="button">
                                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                    </button>
                                    <button href="#" class="btn btn-outline-secondary" type="button">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </button>
                                    <button href="#" class="btn btn-outline-secondary" type="button">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>
                                    </button>
                                    <footer class="text-center">
                                        <a href="javascript: void(0);" (click)="logout()">
                                            Sign out <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        </a>
                                    </footer>
                                  </blockquote>
                                </div>
                            </div>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="banner">
        <div class="container">
            <div class="header">
                <h2 class="text-center" id="test_h2"><strong>Hello World</strong></h2>
                <p class="text-center">Hi {{ currentUser.displayName ? currentUser.displayName: 'guys'}} 🌈</p>
                <p>{{ currentUser | json  }}</p>
                <p>{{ showmenu }}</p>
                <div class="clearfix text-center">
                    <a [routerLink]="['/register']" class="btn btn-outline-danger btn-md">signUp</a>
                </div>
            </div>
        </div>
    </div>
</div>
