.content{
    // background: linear-gradient(135deg, #8800fc 20%, #8cfded 80%);
    background: linear-gradient(135deg, #ffa000 20%, #ff5000 80%);
    overflow: hidden; position: relative;
    &:before{
        background-position: center center;
        background-size: 750px;
        background: url('./../../assets/img/icon-bg3.png') 0 0 repeat;
        position: absolute;
        height: 200%;
        width: 100%;
        display: block;
        z-index: 0;
        content: '';
        opacity: 0.07;
        pointer-events: none;
        animation: bannermove 5s;
        animation-fill-mode:forwards;
    }
    @keyframes bannermove{
        from {top: 0px;}
        to {top: -30%;}
    }
    .container{
        .navbar{
        padding: 20px 0;
        text-align: center;
        
        
            .navbar-toggle{
                .icon-bar{
                    background-color: #666666;
                }
            }
            .navbar-brand{
                padding: 0;
                .my_logo{
                    width: 30px;
                    margin-right: 12px;
                    img{
                        width: 30px;
                    }
                }
                .brnd_text{
                    color: #4F3A4B;
                }
            }
            .collapse{
                position: relative;
                .navbar-nav{
                    margin: auto;
                    max-width: 450px;
                    float: none;
                    .nav-item{
                        .nav-link{
                            color: #fff;
                            transition: color 0.3s;
                            padding: 10px 15px;
                            font-size: 1.8rem;
                            // background: transparent;
                        }
                    }
                }
                .navbar-right{
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    margin-top: -5px;
                    li{
                        a{
                            color: #ffffff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .banner{
        padding-bottom: 30px;
        .container{
            .header{
                h2,p{
                    color: #ffffff;
                }
            }
        }
    }
}
.section{
    padding: 30px 0;
}
footer{
    background-color: #696969;
    .bottom_article{
        padding: 30px 0;
        .row{
            .col-sm-7{
                .my_avatar{
                    .figure{
                        width: 150px; height: 150px;
                        .figure-caption{
                            color: #ffffff;
                            font-size: 12px;
                        }
                    }
                }
                .my_tell{
                    margin-left: 1.5rem;
                    h4{
                        color: #ffffff;
                    }
                    p{
                        color: #999999;
                    }
                    .more_link{
                        .wechat{
                            display: block;
                            background: url(./../../assets/icon/wechat.png) center no-repeat; width: 32px; height: 32px; background-size: contain;
                            &:hover{
                                display: block;
                                background: url(./../../assets/icon/wechat1.png) center no-repeat; width: 32px; height: 32px; background-size: contain;
                            }
                            // &:hover{
                            //     background-color: #cccccc;
                            // }
                        }
                    }
                }
            }
        }
    }
    .right{
        background-color: #111111;
        p{
            font-size: 12px;
        }
    }
}

@media (max-width: 768px){
    .collapse{
        .navbar-right{
            display: none;
        }
    }
}