
.article-angular{
    li{
        list-style: none; margin-bottom: 2.5rem; cursor: pointer; transition: all 0.3s ease-in;
        &:hover{
            box-shadow: 7px 15px 20px rgba(244, 215, 66, 0.3);
        }
    }
}