<footer>
    <div class="container bottom_article">
            <div class="row">
                <div class="col-sm-7">
                    <div class="pull-left my_avatar">
                            <!-- <div class="card" style="width: 20rem">
                                <img class="card-img-top" src="./../../assets/img/100k.jpg" alt="">
                            </div> -->
                            <figure class="figure">
                                    <img src="./../../assets/img/110.png"  class="figure-img img-fluid rounded" alt="">
                                    <figcaption class="figure-caption">Welcome to discuss with me.</figcaption>
                                  </figure>
                    </div>
                    <div class="pull-left my_tell">
                            <h4>Thanks +</h4>
                            <p>大家可以添加我的微信共同学习#</p>
                            <div class="more_link">
                                <a href="##" class="wechat">
                                    <!-- <img src="" alt=""> -->
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <p class="text-center">
                    ©LIONEL ZHANG, <br/>
                    powered by private.法律声明
                    转载内容版权归作者及来源网站所有，本站原创内容转载请注明来源，<br/>
                    商业媒体及纸媒请先联系：lionelzhang123@gmail.com
            </p>
        </div>
</footer>