footer{
    background-color: #696969;
    .bottom_article{
        padding: 30px 0;
        .row{
            .col-sm-7{
                .my_avatar{
                    .figure{
                        width: 150px; height: 150px;
                        .figure-caption{
                            color: #ffffff;
                            font-size: 12px;
                        }
                    }
                }
                .my_tell{
                    margin-left: 1.5rem;
                    h4{
                        color: #ffffff;
                    }
                    p{
                        color: #999999;
                    }
                    .more_link{
                        .fo_icon{
                            display: inline-block; width: 32px; height: 32px; cursor: pointer;
                        }
                        .wechat{
                            background: url(./../../assets/icon/wechat.png) center no-repeat;
                            &:hover{
                                background: url(./../../assets/icon/wechat1.png) center no-repeat; width: 32px; height: 32px;
                            }
                            // &:hover{
                            //     background-color: #cccccc;
                            // }
                        }
                        .facebook{
                            background: url(./../../assets/icon/facebook.png) center no-repeat;
                            &:hover{
                                background: url(./../../assets/icon/facebook1.png) center no-repeat; width: 32px; height: 32px;
                            }
                        }
                        .linkedin{
                            background: url(./../../assets/icon/social-linkedin.png) center no-repeat;
                            &:hover{
                                background: url(./../../assets/icon/social-linkedin1.png) center no-repeat; width: 32px; height: 32px;
                            }
                        }
                        .github{
                            background: url(./../../assets/icon/github.png) center no-repeat;
                            &:hover{
                                background: url(./../../assets/icon/github1.png) center no-repeat; width: 32px; height: 32px;
                            }
                        }
                        .zhanku{
                            background: url(./../../assets/icon/zhanku.png) center no-repeat;
                            &:hover{
                                background: url(./../../assets/icon/zhanku1.png) center no-repeat; width: 32px; height: 32px;
                            }
                        }
                        .my_weichat{
                            width: 100%;
                        }
                    }
                }
            }
            .col-sm-5{
                .pull-left{
                    h4{
                        color: #ffffff;
                    }
                    p{
                        color: #999999;
                    }
                }
            }
        }
    }
    .right{
        background-color: #111111;
        p{
            font-size: 12px;
        }
    }
}