<footer>
    <div class="container bottom_article">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <div class="pull-left my_avatar">
                            <!-- <div class="card" style="width: 20rem">
                                <img class="card-img-top" src="./../../assets/img/100k.jpg" alt="">
                            </div> -->
                            <figure class="figure">
                                    <img src="./../../assets/img/110.png"  class="figure-img img-fluid rounded" alt="">
                                    <figcaption class="figure-caption">Welcome to discuss with me.</figcaption>
                                  </figure>
                    </div>
                    <div class="pull-left my_tell">
                            <h4>Thanks +</h4>
                            <p>大家可以添加我的微信共同学习#</p>
                            <div class="more_link">
                                <a href="javascript: void(0);" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-weixin fa-lg" aria-hidden="true"></i></a>
                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">扫一扫添加微信哟～</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <img class="rounded mx-auto d-block my_weichat" src="./../../../../assets/img/WechatIMG41.jpeg" alt="">
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">给我留言</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                          </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- <a class="github fo_icon" href="https://www.github.com/mangguoaidami" target="_blank"></a> -->
                                <a href="https://www.github.com/mangguoaidami" class="btn btn-outline-info"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/zhang.lionel.9" class="btn btn-outline-info"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/in/%E6%9D%B0-%E7%AB%A0-76a85113a/" class="btn btn-outline-info"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                                <a href="http://www.zcool.com.cn/u/14580103" class="btn btn-outline-info"><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i></a>
                                <!-- <a class="facebook fo_icon" href="https://www.facebook.com/zhang.lionel.9" target="_blank"></a>
                                <a class="linkedin fo_icon" href="https://www.linkedin.com/in/%E6%9D%B0-%E7%AB%A0-76a85113a/" target="_blank"></a>
                                <a class="zhanku fo_icon" href="http://www.zcool.com.cn/u/14580103" target="_blank"></a> -->
                            </div>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div class="pull-left">
                        <h4>more...</h4>
                        <p>杭州(now) | 北京 | 合肥</p>
                        <p>2年前端中级工程师-本科艺术设计UI侧重</p>
                        <p>email: lionelzhang123@gmail.com</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <p class="text-center">
                    ©LIONEL ZHANG, <span id="todady">{{ data }}</span><br/>
                    powered by private.法律声明
                    转载内容版权归作者及来源网站所有，本站原创内容转载请注明来源，<br/>
                    商业媒体及纸媒请先联系：lionelzhang123@gmail.com
            </p>
        </div>
</footer>
