

<div class="card-block">
  <div class="card-header">
    <h3 class="text-center"> British English🕍 and American English🗽</h3>
  </div>
  <div class="card-block">
    <p>别傻了：</p>
    <p>🇺🇸：Don't be silly!</p>
    <p>🇬🇧：Don't be daft!</p>
    <p>你完成了，你成功了:</p>
    <p>🇺🇸: 没有类似的俗语，可能就会说：You've got it made.</p> 
    <p>🇬🇧：Bob is your uncle! (Fanny is your aunt).</p>
  </div>
</div>
<div class="card-block">
  <div class="card-header">
    <h3 class="text-center"> 撒娇、发嗲 👧</h3>
  </div>
  <div class="card-block">
    <p>Girly girl || ACT girl  || Qt girl</p>
    <p>I'm sucker for them..</p>
    <p>vary fragile.脆弱的</p>
    <p>vary Qcy or vary girly...</p>
    <p>Drama queen戏剧女王</p>
    <p>Diva 歌剧女主角</p>
    <p>Full of presence.很有气场</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="text-center"> American Chinese Food~ 🍲</h3>
  </div>
  <div class="card-block">
    <p>Mulan SzeChuan Sause 花木兰四川照烧酱</p>
    <p>Mulan SzeChuan Sause is a dipping sause for McDonald's Chicken McNuggets.</p>
    <p>McNuggets 麦乐鸡</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="text-center">dignity<small class="text-muted">自尊</small></h3>
  </div>
  <div class="card-block">
    <p>* Thick skinned 脸皮厚<br/>
    * Not thick skinned 薄脸皮<br/>
    * Sensitive 敏感的<br/>
    * Self-conscious 难为情的<br/>
    The concept of face in chinese culture: 'face'<br/>
    A person's reputation, status and dignity.</p><br/>
    <p>
      In Chinese, you can say: 'losing face',but 外国人并不懂。<br/>
      * So embarrassed<br/>
      * How embarrassing<br/>
      * Feel embarrassed<br/>
      * I'm so dumb/silly.<br/>
    </p>
    <p>Praise</p>
    <p>Show respect</p>
    <p>中文要给我面子：I insist</p><br/>
    <p>Gain respect 被尊重</p>
    <p>Redeemed yourself. 挽回面子</p>
  </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="text-center">spicy<small class="text-muted">  辣 🔥</small></h3>
    </div>
    <div class="card-block">
        <p>numbing、麻木</p>
        <p>cheesy or use corny...都是表示肉麻</p>
        <p>my leg are sleep...</p>
    </div>
</div>

