
<div class="card-block">
  <div class="card-header">
    <h3 class="text-center">在中国学的单词，在美国意思完全不一样！🤑</h3>
  </div>
  <div class="card-block">
    <p>In context: 语境、上下文</p>
    <p>Set phrases:  固定短语</p>
    <h5>1. Call: 打电话？</h5>
    <p>Call: 决定<br/>
      Make your call: 不是叫你打电话，是要你做决定。</p>
    <p>怎么用：<br/>
      It's your call: 你的决定，你的责任<br/>
      Good call: 好决定！</p>
      <h5>2. Sleep：睡觉？</h5>
    <p>Sleep on it 不是叫你睡在上面，是指我要想一想。<br/>
      怎么用：<br/>
      A: You need make a decision.<br/>
      B: Let me sleep on it.</p> 
      <h5>3. Company: 公司？</h5>
    <p>In good company 不是说在一家好公司，而是指氛围好，团队好。<br/>
      怎么用：<br/>
      He/she's good company: 他/她是个好伴侣（不定是感情的伴侣）<br/>
      Keep someone company:  陪伴某人<br/>
      Two's company, three's a crowd: 两个人正好，三个人太挤</p>
      <h5>"Say when": 问时间？</h5>
      <p>Say when 不是问你时间，而是叫你喊停。<br/>
        怎么用：<br/>
        A: Say when. 够了就告诉我。<br/>
        B: Ok, that's good. 够了，够了。</p>
        <h5>Buying: 买东西？</h5>
        <p>Buying it 不是说我要买这个，而是相信。<br/>
          怎么用：<br/>
          I'm not buying it: 我才不信呢。<br/>
          I don't buy it: 我不相信。<br/>
          Do you buy it?: 你相信吗？</p>
          <h5>6. Lost: 迷路？</h5>
          <p>Lost不是说你迷路了，而是指失控了。<br/>
            怎么用：<br/>
            I lost it: 我失控了。<br/>
            I totally lost:  我完全失控了。<br/>
            I lost it on someone: 我对某人发脾气了。</p>
  </div>
</div>
<div class="card-block">
  <div class="card-header">
    <h3 class="text-center"> British English🕍 and American English🗽</h3>
  </div>
  <div class="card-block">
    <p>别傻了：</p>
    <p>🇺🇸：Don't be silly!</p>
    <p>🇬🇧：Don't be daft!</p>
    <p>你完成了，你成功了:</p>
    <p>🇺🇸: 没有类似的俗语，可能就会说：You've got it made.</p> 
    <p>🇬🇧：Bob is your uncle! (Fanny is your aunt).</p>
  </div>
</div>
<div class="card-block">
  <div class="card-header">
    <h3 class="text-center"> 撒娇、发嗲 👧</h3>
  </div>
  <div class="card-block">
    <p>Girly girl || ACT girl  || Qt girl</p>
    <p>I'm sucker for them..</p>
    <p>vary fragile.脆弱的</p>
    <p>vary Qcy or vary girly...</p>
    <p>Drama queen戏剧女王</p>
    <p>Diva 歌剧女主角</p>
    <p>Full of presence.很有气场</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="text-center"> American Chinese Food~ 🍲</h3>
  </div>
  <div class="card-block">
    <p>Mulan SzeChuan Sause 花木兰四川照烧酱</p>
    <p>Mulan SzeChuan Sause is a dipping sause for McDonald's Chicken McNuggets.</p>
    <p>McNuggets 麦乐鸡</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="text-center">dignity<small class="text-muted">自尊</small></h3>
  </div>
  <div class="card-block">
    <p>* Thick skinned 脸皮厚<br/>
    * Not thick skinned 薄脸皮<br/>
    * Sensitive 敏感的<br/>
    * Self-conscious 难为情的<br/>
    The concept of face in chinese culture: 'face'<br/>
    A person's reputation, status and dignity.</p><br/>
    <p>
      In Chinese, you can say: 'losing face',but 外国人并不懂。<br/>
      * So embarrassed<br/>
      * How embarrassing<br/>
      * Feel embarrassed<br/>
      * I'm so dumb/silly.<br/>
    </p>
    <p>Praise</p>
    <p>Show respect</p>
    <p>中文要给我面子：I insist</p><br/>
    <p>Gain respect 被尊重</p>
    <p>Redeemed yourself. 挽回面子</p>
  </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="text-center">spicy<small class="text-muted">  辣 🔥</small></h3>
    </div>
    <div class="card-block">
        <p>numbing、麻木</p>
        <p>cheesy or use corny...都是表示肉麻</p>
        <p>my leg are sleep...</p>
    </div>
</div>

