<div class="card">
  <div class="card-header">
    <h3 class="text-center">dignity<small class="text-muted">自尊</small></h3>
  </div>
  <div class="card-block">
    <p>* Thick skinned 脸皮厚<br/>
    * Not thick skinned 薄脸皮<br/>
    * Sensitive 敏感的<br/>
    * Self-conscious 难为情的<br/>
    The concept of face in chinese culture: 'face'<br/>
    A person's reputation, status and dignity.</p><br/>
    <p>
      In Chinese, you can say: 'losing face',but 外国人并不懂。<br/>
      * So embarrassed<br/>
      * How embarrassing<br/>
      * Feel embarrassed<br/>
      * I'm so dumb/silly.<br/>
    </p>
    <p>Praise</p>
    <p>Show respect</p>
    <p>中文要给我面子：I insist</p><br/>
    <p>Gain respect 被尊重</p>
    <p>Redeemed yourself. 挽回面子</p>
  </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="text-center">spicy<small class="text-muted">  辣 🔥</small></h3>
    </div>
    <div class="card-block">
        <p>numbing、麻木</p>
        <p>cheesy or use corny...都是表示肉麻</p>
        <p>my leg are sleep...</p>
    </div>
</div>
