<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="img-block atatar card-img-top" src="../../../assets/img/author.jpeg" alt="">
        </div>
    </div>
    <div class="col-sm-8">
        <h5>web front-end engineer</h5>
        <p>Senior front-end engineers, the application development of the web has more than two years of work experience, there are web graphic designers 2 years of learning experience, focus on front-end trends, personal GitHub account are: www.github.com/mangguoaidami</p>
        <p>我是章杰，1993年安徽人，出生芜湖市石涧镇。个人爱好旅游、绘画，作为艺术设计出生的大学偶然入坑编程。作为一个小学生2015年踏入这个圈子，也希望在不断学习中能开阔眼力，使自己不断成长。</p>
        <p>本科广西师范学院(统招)-设计侧重(UI)</p>
        <p>高级前端工程师，web应用开发有两年以上的工作经验，有网页平面设计师2年的学习经验，专注于前端趋势，个人GitHub帐号有：www.github.com/mangguoaidami</p>
        <h5>技能树</h5>
        <ul class="list-inline">
            <li class="list-inline-item">ES2015</li>
            <li class="list-inline-item">Typescript</li>
            <li class="list-inline-item">Gulp</li>
            <li class="list-inline-item">Wabpack</li>
            <li class="list-inline-item">AngularJs</li>
            <li class="list-inline-item">React</li>
            <li class="list-inline-item">Bootstrap</li>
            <li class="list-inline-item">Git</li>
          </ul>
          个人学习周期
          <ul class="list-unstyled">
            <li>-观察前沿技术动态</li>
            <li>-接触新知识or框架</li>
            <li>-GitHub寻找启示kit库</li>
            <li>-阅读相关document</li>
            <li>开始练手
              <ul>
                <li>npm install</li>
                <li>npm start...!</li>
                <li>coding</li>
              </ul>
            </li>
          </ul>
    </div>
</div>
