<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="img-block atatar card-img-top" src="../../../assets/img/WechatIMG44.jpg" alt="">
        </div>
    </div>
    <div class="col-sm-8">
        <h5>web front-end engineer ✍</h5>
        <p>Senior front-end engineers, the application development of the web has more than two years of work experience, there are web graphic designers 2 years of learning experience, focus on front-end trends, personal GitHub account are: www.github.com/mangguoaidami</p>
        <p>章杰，1993年安徽人，出生芜湖市石涧镇。本科艺术设计，大学偶然入坑编程。作为一个小学生2015年入门前端。</p>
        <p>本科南宁师范大学(统招)-设计侧重(UI)</p>
        <p>高级前端工程师，web应用开发有两年以上的工作经验，本科有网页平面设计学习经验，2015年正式加入某创业公司担任前端开发，现于杭州市某上市公司担任前端开发工程师，专注于前端领域，以往项目以大数据web应用为主要，个人GitHub帐号有：www.github.com/mangguoaidami</p>
        <h5>技能树 🌴 🌴 🌴 🌴</h5>
        <ul class="list-inline">
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">ES2015</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">Typescript</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">Gulp</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">Wabpack</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">AngularJs 1.4.0</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">AngularJs 2.0+</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">React native</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">Bootstrap</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-warning">Git</button>
            </li>
        </ul>
          学习周期 ☕
          <ul class="list-unstyled">
            <li>-观察前沿技术动态</li>
            <li>-接触新知识or框架</li>
            <li>-GitHub寻找启示kit库</li>
            <li>-阅读相关document</li>
            <li>开始练手
              <ul>
                <li>npm install</li>
                <li>npm start...!</li>
                <li>coding</li>
              </ul>
            </li>
          </ul>
    </div>
</div>
