<div id="login-box">
    <div class="login-card">
            <h3>Log-in</h3>
            <hr>
            <form action="dash.html">
                <div class="form-group">
                <label for="formGroupEmail">Email</label>
                <input type="email" class="form-control" id="formGroupEmail" placeholder="Email/Username">
                </div>
                <div class="form-group">
                <label for="formGroupPassword">Password</label>
                <input type="password" class="form-control" id="formGroupPassword" placeholder="Password">
                </div>


                <div class="login-help">
                    <p>By signing up or clicking <a href="#">continue</a>, I confirm that I have
            read and agree to the Terms and <a href="#">Privacy Policy</a></p>
                </div>
                
                <button class="btn btn-info btn-block login-submit" type="submit">Login</button>
            </form>
    </div>
</div>